{% extends "layout.html.twig" %}

{% block content %}
	<!-- Page -->
	<div id="page" class="paddingtop paddingbottom nudgeheader">
		<div class="wrapper">
		    {% if toc|length %}
		    	<div class="grid">
		    		<div class="column col-2-third">
		    			{{ doc|raw }}
		    		</div>
		    		<div class="column col-1-third">
				        <ul class="toc">
				            {{ _self.tocTree(toc|length > 3 ? toc : toc.1) }}
				        </ul>
		    		</div>
		    	</div>
		    {% else %}
		    	{{ doc|raw }}
		    {% endif %}
		
		    <p class="fork-and-edit">
		        Found a typo? Something is wrong in this documentation? Just <a href="http://github.com/composer/composer/edit/master/doc/{{ file }}">fork and edit</a> it!
		    </p>
		</div>
	</div>
{% endblock %}

{% macro tocTree(tree) %}
    {% for key, node in tree if (key not in ['title', 'id', 'desc']) %}
        <li>
            <a href="#{{ node.id }}">{{ node.title }}</a> {{ node.desc }}
            {% if node|length > 3 %}
                <ul>
                    {{ _self.tocTree(node) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}