{% extends "layout.html.twig" %}

{% block content %}
    <h1>Download Composer <span class="latest">Latest: v{{ latestStable }}</span></h1>

    {% if windows %}
        <h2>Windows Installer</h2>
        <p>The installer will download composer for you and set up your PATH environment variable so you can simply call <code>composer</code> from any directory.</p>
        <p>Download and run <a href="/Composer-Setup.exe">Composer-Setup.exe</a> - it will install the latest composer version whenever it is executed.</p>

        <h2>Command-line installation</h2>
    {% endif %}

    <p>To quickly install Composer in the current directory, run the following script in your terminal. To automate the installation, use <a href="/doc/faqs/how-to-install-composer-programmatically.md">the guide on installing Composer programmatically</a>.</p>
    <pre class="installer">php -r "copy('https://getcomposer.org/installer', 'composer-setup.php');"
php -r "if (hash_file('SHA384', 'composer-setup.php') === '6c73fbb92af4ceb8cd91bd3b181baa803de5c87c059f4002c491a432c21bcbf2b69883a819c5de0d18963ee828988fc4') { echo 'Installer verified'; } else { echo 'Installer corrupt'; unlink('composer-setup.php'); } echo PHP_EOL;"
php composer-setup.php
php -r "unlink('composer-setup.php');"</pre>

    <p>This installer script will simply check some php.ini settings, warn you if they are set incorrectly, and then download the latest composer.phar in the current directory. The 4 lines above will, in order:</p>

    <ul>
        <li>Download the installer to the current directory</li>
        <li>Verify the installer SHA-384 which you can also <a href="https://composer.github.io/pubkeys.html">cross-check here</a></li>
        <li>Run the installer</li>
        <li>Remove the installer</li>
    </ul>

    <p class="installer-warning">
        <strong>WARNING:</strong> Please do not redistribute the install code. It will change with every version of the installer. Instead, please link to this page or check <a href="/doc/faqs/how-to-install-composer-programmatically.md">how to install Composer programmatically</a>.
    </p>

    <h2>Installer Options</h2>

    <h3>--install-dir</h3>
    <p>You can install composer to a specific directory by using the <code>--install-dir</code> option and providing a target directory. Example:</p>
    <code>php composer-setup.php --install-dir=bin</code>

    <h3>--filename</h3>
    <p>You can specify the filename (default: composer.phar) using the <code>--filename</code> option. Example:</p>
    <code>php composer-setup.php --filename=composer</code>

    <h3>--version</h3>
    <p>You can install composer to a specific release by using the <code>--version</code> option and providing a target release. Example:</p>
    <code>php composer-setup.php --version=1.0.0-alpha8</code>

    <h2>Preview / Snapshot Releases</h2>
    <p>By default the installer and <code>composer self-update</code> will download stable versions only. If you would like to help test pre-release versions you can use the <code>--preview</code> flag on either installer or self-update. For snapshot builds which are done from the latest Composer commit, you can use the <code>--snapshot</code> flag.</p>

    <h2>Manual Download</h2>
    <p>If you prefer to download the phar manually, here are the available versions:</p>
    <p>
        <a href="{{ app.request.basePath }}/composer.phar">Latest Snapshot</a><br />
        <table>
        {% for version, meta in versions %}
            <tr>
                <td style="width: 100px"><a href="{{ path('download_version', {version: version}) }}">{{ version }}</a></td>
                <td style="width: 100px">{{ meta.date|date('Y-m-d') }}</td>
                <td><a href="{{ path('download_version', {version: version}) }}.sha256sum">sha256</a> <code style="font-size: 0.7em; position: relative; top: -2px">{{ meta.sha256sum }}</code></td>
            </tr>
        {% endfor %}
        </table>
    </p>
{% endblock %}
