{% extends "layout.html.twig" %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="logo">
        <img src="{{ app.request.basePath }}/img/{{ logo }}">
        <h1 class="slogan">
            Dependency Manager for PHP
        </h1>
    </div>

    <p class="buttons">
        <a href="{{ path('docs.view', {page: '00-intro.md'}) }}">Getting Started</a>
        <a href="{{ path('download') }}">Download</a>
    </p>
    <p class="buttons">
        <a href="{{ path('docs') }}">Documentation</a>
        <a href="http://packagist.org/">Browse Packages</a>
    </p>
    <p class="buttons">
        <a href="http://github.com/composer/composer/issues">Issues</a>
        <a href="http://github.com/composer/composer">GitHub</a>
    </p>
{% endblock %}

{% block footer %}
    <p>Authors: <a href="http://naderman.de">Nils Adermann</a>, <a href="http://nelm.io/jordi">Jordi Boggiano</a> and many <a href="https://github.com/composer/composer/graphs/contributors">community contributions</a></p>
    <p>Sponsored by:</p>
    <p><a href="https://www.engineyard.com/"><img src="{{ app.request.basePath }}/img/engineyard.png"></a> &nbsp; <a href="https://toranproxy.com"><img src="{{ app.request.basePath }}/img/toranproxy.png"></a></p>
    <p>Logo: <a href="http://wizardcat.com/">WizardCat</a></p>
{% endblock %}
