<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>{% block title %}Composer{% endblock %}</title>
        <meta name="description" content="Dependency Management for PHP">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <link rel="stylesheet" href="{{ app.request.basePath }}/css/style.css?v=7">
        <link rel="stylesheet" href="{{ app.request.basePath }}/css/libs/prism.css?v=6">

        <script src="{{ app.request.basePath }}/js/libs/modernizr-2.0.6.min.js"></script>
    </head>

    <body>
        <div id="container">
            <header>
                {% block header %}
                {% spaceless %}
                    <a href="{{ path('home') }}">Home</a>
                    <a class="{{ page == 'getting-started' ? 'active':'' }}" href="{{ path('docs.view', {page: '00-intro.md'}) }}">Getting Started</a>
                    <a class="{{ page == 'download' ? 'active':'' }}" href="{{ path('download') }}">Download</a>
                    <a class="{{ page == 'docs' ? 'active':'' }}" href="{{ path('docs') }}">Documentation</a>
                    <a class="last" href="http://packagist.org/">Browse Packages</a>
                {% endspaceless %}
                {% endblock %}
            </header>
            <div id="main" role="main">
                {% block content %}
                {% endblock %}
            </div>
            <footer>
                {% block footer %}
                {% endblock %}

                <p class="license">Composer and all content on this site are released under the <a href="https://github.com/composer/composer/blob/master/LICENSE">MIT license</a>.</p>
            </footer>
        </div>

        <script src="{{ app.request.basePath }}/js/libs/prism.js?v=6"></script>
        <script>
            var _gaq=[['_setAccount','UA-26723099-2'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
