<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}Composer{% endblock %}</title>
        
        <meta name="description" content="Dependency Management for PHP">
        <meta name="viewport" content="width=320, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/> 
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat:400,700" />
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:400,700" />
		<link rel="stylesheet/less" type="text/css" href="{{ app.request.basePath }}/less/base.less" />
        <script src="{{ app.request.basePath }}/js/libs/modernizr-2.0.6.min.js"></script>
    </head>

    <body>
        {% block header %}
           <!-- Header -->
			<div id="header">
				<div class="wrapper">
					<ul>
						<li class="mini_nav"><a href="{{ path('home') }}" class="logo">Composer</a></li>
						<li><a href="{{ path('docs.view', {page: '00-intro.md'}) }}"><span class="icon">Y</span><p>Getting Started</p></a></li>
						<li><a href="http://packagist.org/"><span class="icon">\</span><p>Browse Packages</p></a></li>
						<li><a href="{{ path('docs') }}"><span class="icon">&eacute;</span><p>Documentation</p></a></li>
						<li><a href="http://github.com/composer/composer/issues"><span class="icon">!</span><p>Issues</p></a></li>
						
						<li class="right mini_nav show_menu"><a href="#">Open Menu</a></li>
						<li class="right"><a href="{{ path('download') }}"><span class="icon">&agrave;</span><p>Download</p></a></li>
						<li class="right"><a href="http://github.com/composer/composer"><span class="icon social icon-github"></span><p>Github</p></a></li>
					</ul>
				</div>
			</div>
			
			<ul id="mini_nav">
				<li><a href="{{ path('docs.view', {page: '00-intro.md'}) }}"><span class="icon">Y</span><p>Getting Started</p></a></li>
				<li><a href="http://packagist.org/"><span class="icon">\</span><p>Browse Packages</p></a></li>
				<li><a href="{{ path('docs') }}"><span class="icon">&eacute;</span><p>Documentation</p></a></li>
				<li><a href="http://github.com/composer/composer/issues"><span class="icon">!</span><p>Issues</p></a></li>
				<li><a href="{{ path('download') }}"><span class="icon">&agrave;</span><p>Download</p></a></li>
				<li><a href="http://github.com/composer/composer"><span class="icon social icon-github"></span><p>Github</p></a></li>
			</ul>
        {% endblock %}
               
        <div id="slide_wrapper">
        	{% block content %}
        	{% endblock %}
        
        	{% block footer %}
	        	<!-- Footer -->
				<div id="footer">
					<div class="wrapper">
						<div class="grid">
							<div class="column">
								<ul>
									<li><a href="#">Community Wiki</a></li>
									<li><a href="#">API</a></li>
									<li><a href="#">FAQs</a></li>
									<li class="right"><a href="#">Redesign by Joey Emery</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
        	{% endblock %}
        </div>

        <script type="text/javascript" src="https://raw.github.com/cloudhead/less.js/master/dist/less-1.3.3.min.js"></script>
        <script type="text/javascript" src="{{ app.request.basePath }}/js/libs/jquery.js"></script>
        <script type="text/javascript" src="{{ app.request.basePath }}/js/libs/timeago.js"></script>
        <script type="text/javascript" src="{{ app.request.basePath }}/js/base.js"></script>
        {#
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ app.request.basePath }}/js/libs/jquery-1.6.2.min.js"><\/script>')</script>

        <script defer src="{{ app.request.basePath }}/js/plugins.js"></script>
        <script defer src="{{ app.request.basePath }}/js/script.js"></script>
        #}

        <script>
        	var _gaq=[['_setAccount','UA-26723099-2'],['_trackPageview']];
        	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
	        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	        s.parentNode.insertBefore(g,s)}(document,'script'));
	    </script>
    </body>
</html>
