<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>{% block title %}Composer{% endblock %}</title>
        <meta name="description" content="A Dependency Manager for PHP">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <link rel="stylesheet" href="{{ app.request.basePath }}/build/app.css?v=2">
    </head>

    <body>
        <div id="container">
            <header>
                {% block header %}
                    <a href="{{ path('home') }}"
                       title="Go back to the homepage"
                       aria-label="Go back to the homepage"><img src="{{ app.request.basePath }}/img/logo-composer-transparent.png" style="width:30px; margin-right: 10px" />Home</a>{#--#}
                    <a class="{{ page == 'getting-started' ? 'active':'' }}"
                       href="{{ path('docs.view', {page: '00-intro.md'}) }}"
                       title="Getting started with Composer"
                       aria-label="Getting started with Composer">Getting Started</a>{#--#}
                    <a class="{{ page == 'download' ? 'active':'' }}"
                       href="{{ path('download') }}"
                       title="Go the the Download page to see how to download Composer"
                       aria-label="Go the the Download page to see how to download Composer">Download</a>{#--#}
                    <a class="{{ page == 'docs' ? 'active':'' }}"
                       href="{{ path('docs') }}"
                       title="View the Composer documentation"
                       aria-label="View the Composer documentation">Documentation</a>{#--#}
                    <a class="last"
                       href="https://packagist.org/"
                       title="Browse Composer packages on packagist.org (external link to Packagist.org)"
                       aria-label="Browse Composer packages on packagist.org (external link to Packagist.org)">Browse Packages</a>{#--#}
                {% endblock %}
            </header>
            <main role="main">
                <div id="main">
                    {% block content %}
                    {% endblock %}
                </div>
            </main>
            <footer>
                {% block footer %}
                {% endblock %}

                <p class="license">
                    Composer and all content on this site are released under the <a href="https://github.com/composer/composer/blob/main/LICENSE" title="View the MIT license (external link to GitHub.com)" aria-label="View the MIT license (external link to GitHub.com)">MIT license</a>.
                </p>
            </footer>
        </div>

        <script src="{{ app.request.basePath }}/build/app.js?v=3"></script>
    </body>
</html>
